*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    background-image: url(../hair.jpg);
}
.navbar2{
    background-color: rgb(246, 242, 123);
    color: rgb(249, 245, 245);
    text-align: center;
    padding: 5px 5px;
}
.navbar {
    background-color: wheat;
    color: #4e6473;
}
.navbar ul{
    display: flex;
    gap: 4px;
    list-style: none;
}
ul{
    padding: 0 16px;
}

