.formulario-campo{
    display: flex;
    flex: 1;
    gap: 16px;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}

.formulario-campo label{
    font-family: fantasy;
    font-weight: 400;
}

.formulario-campo input,
.formulario-campo select,
.formulario-campo textarea{
    width: 300px;
    justify-self: flex-end;

}
body{
    background-color: khaki;
}
header{background:#000000;padding:15px;box-shadow:0 0 10px rgb(253, 255, 129);}

nav ul{display:flex;gap:20px;list-style:none;}

nav ul li a{
color:rgb(253, 255, 129);
text-decoration:none;
font-weight:bold;
padding:6px 10px;
border-radius:5px;
transition:.3s;
}

nav ul li a:hover{
background:rgb(253, 255, 129);
color:black;
}
.imagem{
    width: 105%;
    max-width: 400px;
    margin: 0 auto 10px auto;
    border-radius: 10px;
    border: 2px #b30000; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}